.box {
    background-color: #E6E7E8;
    border: 33px;
    border-radius: 10px;
    padding: .5rem;
}

.todo {
    font-size: 3rem;
    display: block;
    text-align: center;
}

.form {
    text-align: center;
    border-radius: 5px; 
}

.list {
    color: black;
    text-decoration: none;
}

.js-highlight {
    color: grey;
    text-decoration: line-through;    
}

li {
    list-style-type: none;
    text-align: left;
} 

.add {
    font-size: .5rem;
    background-color: white;
    border-radius: 5px;
}

.xbutton {
    float: right;
    clear: right;

}

h2 {
    display: inline-block;
}